@media only screen and (max-width: 768px) {
    body{
      margin: 0;
    }
    /*HEADER*/
    header {
      position: fixed;
      background-color: grey;
      width: 100%;
    }
    #contenedor{
      display: flex;
      justify-content: flex-end;
    }
    
    #logo {
      width: 50px;
      height: 50px;
      background-color: black;
      border-radius: 50%;
      margin-right: 50%;
    }
    #barra{
      display: flex;
      align-items: center;
      padding-right: 1rem;
    }
    /*CUERPO PRINCIPAL*/
    main{
      padding-top: 50px;
    }
    #stock, #precio{
      width: 2em;
      text-align: center;
      border: none;
    }
    #articulo, section nav, #contact{
      text-align: center;
    }
    #precio_articulo{
      padding-top: 2rem;
    }
    #invent{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #info{
      text-align: center;
    }
    table{
      margin: 0 auto;
      border: 1px solid black;
    }
    table td{
      border: 1px solid black;
      padding: 10px;
    }
    /*PIE DE PAGUINA*/
    p{
      width: 80%;
      margin: 0 auto;
      padding-bottom: 2rem;
    }
    #contact nav{
      padding: 1rem 0;
    }
    }