* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F7C77B;
}

i{
  color: #755117;
}
  /*HEADER*/

  #title_movil{
    display: block;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  header:first-child{
    border: none;
    border-radius: 0;
  }

  header{
    position: sticky;
    top: 0;
    background-color: #F5A931;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    border-bottom: 2px solid black;
    border-radius: 0 0 5px 5px;
    z-index: 1;
  }

  #logo img{
    width: 5rem;
    border-radius: 50%;
  }

  #logo h1{
    display: none;
  }

  #menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    max-width: 300px;
  }

  /*MENU OCULTO CON CATEGORIAS
  NOTA: CUANDO SE DESPLIEGA, EL DISPLAY DEL RESTO DEL MAIN DE LA PAGINA PODRIA PASAR A NONE*/

  #categorias{
    display: none;
    z-index: 0;
    padding-top: 100px;
    width: 100%;
    background-color: #F5A931;
  }

  #categorias ul{
    list-style: none;
    padding: 5px 20px 20px 20px;
  }

  #categorias li{
    border: 1px solid black;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }

  #categorias a{
    text-decoration: none;
    color: black;
  }

  #categorias a:hover{
    color: white;
    background-color: #C28627;

  }

  /*CUERPO PRINCIPAL*/

  main {
    padding-top: 60px;
  }

  #info h2, #articulo img, #articulo input:nth-child(2n-1), footer{
    margin-top: 2rem;
  }

  /* ARTICULO */

  #stock,
  #precio {
    width: 2em;
    text-align: center;
    border: none;
  }

  #articulo_id img{
    width: 10rem;

  }

  #articulo input[type="text"] {
    background-color: transparent;
  }

  #articulo nav input{
    padding: 1.5rem;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 1rem;
    background-color: #755F3B;
  }

  #articulo nav input:hover{
    color: #F5A931;
    background-color: #755F3B;
  }

  #articulo nav input:active{
    color: #C28627;
  }

  #articulo,
  section nav,
  #contact {
    text-align: center;
  }

  #precio_articulo {
    padding-top: 2rem;
  }

  #precio, #precio_articulo label{
    font-size: 2rem;
    font-weight: 600;
  }

  #inventario {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* INFORMACION DEL PRODUCTO */

  #info {
    text-align: center;
  }

  table {
    margin: 0 auto;
    border-collapse: collapse;
  }

  table td {
    border: 2px solid black;
  }

  table tr td:nth-child(2n-1) {
    width: 30%;
    padding: 1rem;
  }

  section > h2{
    text-align: center;
    padding: 1rem;
  }

  #description p{
    padding: 0.5rem;
  }

  /*PIE DE PAGUINA*/

  p {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  #contact {
    border-top: 2px solid black;
    background-color: #F5A931;
    border-radius: 10px 10px 0 0;
    width: 100%;
    padding: 2rem 1rem 0rem;
  }

  #contact h2{
    padding: 10px;
  }

  #contact nav{
    padding-bottom: 10px;
  }

  #contact nav i{
    margin: 1rem 2rem;
  }


  @media only screen and (min-width: 769px) and (max-width: 1199px){

    /*HEADER*/

    #title_movil{
      display: none;
    }

    #menus{
      justify-content: flex-end;
    }
    
    #menus nav{
      display: none;
    }

    header{
      border: none;
      position: fixed;
      padding-left: 5%;
      padding-right: 5rem;
    }

    #logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      width: 80%;
    }

    #logo h1{
      display: inline-block;
      font-size: 2rem;
      width: 50%;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #menus{
      width: 20%;
    }

    #categorias{
      display: block;
      position: fixed;
      width: 100%;
      padding-top: 100px;
      background-color: #F5A931;
      border-bottom: 2px solid black;
      border-radius: 0 0 5px 5px;
      z-index: 0;
    }

    #categorias ul{
      list-style: none;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding: 5px 20px 20px 20px;
    }

    #categorias a{
      text-decoration: none;
      color: black;
    }

    #categorias li{
      border: none;
      padding: 0;
      font-size: 1rem;
      font-weight: 400;
    }

    #categorias a:hover{
      color: white;
      background-color: #C28627;

    }

    /*CUERPO PRINCIPAL*/

    main{
      padding-top: 200px;
    }

    #articulo{
      padding: 1rem 0.5rem 0rem 0.5rem;
    }

    #articulo div:not(#articulo_id){
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    #articulo_id{
      padding: 2rem;
    }

    #articulo_id h1, #precio, #precio_articulo label{
      font-size: 3rem;
    }

    #articulo nav{
      padding: 2rem 0;
    }

  }

  @media only screen and (min-width: 1200px){

    /*HEADER*/

    #title_movil{
      display: none;
    }

    #menus{
      justify-content: flex-end;
    }
    
    #menus nav{
      display: none;
    }

    header{
      border: none;
      position: fixed;
      padding-left: 5%;
      padding-right: 5rem;
    }

    #logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      width: 80%;
    }

    #logo h1{
      display: inline-block;
      font-size: 2rem;
      width: 50%;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #menus{
      width: 20%;
    }

    #categorias{
      display: block;
      position: fixed;
      width: 100%;
      padding-top: 100px;
      background-color: #F5A931;
      border-bottom: 2px solid black;
      border-radius: 0 0 5px 5px;
      z-index: 0;
    }

    #categorias ul{
      list-style: none;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding: 5px 20px 20px 20px;
    }

    #categorias a{
      text-decoration: none;
      color: black;
    }

    #categorias li{
      border: none;
      padding: 0;
      font-size: 1.5rem;
      font-weight: 400;
    }

    #categorias a:hover{
      color: white;
      background-color: rgba(218, 165, 32, 0.5);

    }

    /*CUERPO PRINCIPAL*/

    main{
      padding-top: 200px;
    }

    #articulo{
      padding: 1rem 0.5rem 0rem 0.5rem;
    }

    #articulo div:not(#articulo_id){
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    #articulo_id{
      padding: 2rem;
    }

    #articulo_id h1, #precio, #precio_articulo label{
      font-size: 3rem;
    }

    #articulo nav{
      padding: 2rem 0;
    }

    #info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem;
    }

    section > h2 {
      font-size: 2rem;
    }

    #info div:first-child{
      width: 50%;
      font-size: 1.5rem;
    }

    #description{
      width: 40%;
      font-size: 1.5rem;
    }

  }