:root{
  --marron-claro: #D08C60;
  --amarillo: #FFCB69;
  --verde-claro: #9B9B7A;
  --hueso: #F1DCA7;
  --marron-oscuro: #997B66;
  --verde-oscuro: #797D62;
  --rosa: #DE695B;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--hueso);
  color: var(--verde-oscuro);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header, footer{
  color: #000;
}

i{
  color: #FFF;
}

i:hover{
  color: var(--amarillo);
}

  /*CELULAR*/
  /*HEADER*/

  #title_movil{
    display: block;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  header:first-child{
    border: none;
    border-radius: 0;
  }

  header{
    position: sticky;
    top: 0;
    background-color: var(--marron-claro);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    border-radius: 0 0 5px 5px;
    z-index: 1;
  }

  #logo img{
    width: 5rem;
    border-radius: 50%;
  }

  #logo h1{
    display: none;
  }

  #menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    max-width: 300px;
  }

  /*MENU OCULTO CON CATEGORIAS
  NOTA: Para desplejar cambiar display a block*/

  #categorias{
    display: none;
    z-index: 0;
    width: 100%;
    background-color: var(--marron-claro);
  }

  #categorias ul{
    list-style: none;
    padding: 5px 20px 20px 20px;
  }

  #categorias li{
    padding: 2rem;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }

  #categorias a{
    text-decoration: none;
    color: #000;
  }

  #categorias a:hover{
    color: var(--amarillo);
    transition: all 0.2s linear;
  }

  #categorias li:hover{
    box-shadow: 0px 0px 10px 5px var(--amarillo);
    border-radius: 10px;
  }

  /*CUERPO PRINCIPAL*/

  main {
    padding-top: 60px;
  }

  #articulo_id{
    color: var(--rosa);
  }

  #info h2, #articulo img, #articulo input:nth-child(2n-1), footer{
    margin-top: 1.5rem;
  }

  /* ARTICULO */

  #stock,
  #precio {
    width: 2em;
    text-align: center;
    border: none;
  }

  #articulo_id img{
    width: 10rem;

  }

  #articulo input[type="text"] {
    background-color: transparent;
  }

  #articulo nav #add_carrito{
    padding: 1.5rem;
    border-radius: 5px;
    border: 1px solid var(--verde-claro);
    font-size: 1rem;
    color: var(--hueso);
    background-color: var(--rosa);
  }

  #articulo nav #add_carrito:hover{
    background-color: var(--amarillo);
    border-color: var(--amarillo);
    color: var(--rosa);
    animation: dance-button 0.5s linear 1;
  }

  #articulo nav #add_carrito:active{
    border-color: #fff;
    color: var(--rosa);
    box-shadow: 0px 0px 10px 5px var(--rosa);
  }

  #articulo,
  section nav,
  #contact {
    text-align: center;
  }

  #precio_articulo {
    padding-top: 2rem;
  }

  #articulo_id, #precio, #precio_articulo label{
    font-size: 2rem;
    font-weight: 600;
  }

  #inventario {
    display: none;
  }

  /* INFORMACION DEL PRODUCTO */

  section h2{
    color: var(--rosa);
  }

  #info {
    text-align: center;
  }

  table {
    margin: 0 auto;
    border-collapse: collapse;
  }

  table td {
    border: 2px solid var(--verde-oscuro);
  }

  table tr td:nth-child(2n-1) {
    width: 30%;
    padding: 1rem;
  }

  section > h2{
    text-align: center;
    padding: 1rem;
  }

  #description p{
    padding: 0.5rem;
  }

  /*PIE DE PAGUINA*/

  p {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  #contact {
    background-color: var(--marron-claro);
    border-radius: 10px 10px 0 0;
    width: 100%;
    padding: 2rem 1rem 0rem;
  }

  #contact h2{
    padding: 10px;
  }

  #contact nav{
    padding-bottom: 10px;
  }

  #contact nav i{
    margin: 1rem 2rem;
  }

  /*ANIMACION*/
  @keyframes dance-button {
    0%{
      transform: rotateZ(0deg);
    }
    25%{
      transform: rotateZ(2deg);
    }
    50%{
      transform: rotateZ(0deg);
    }
    75%{
      transform: rotateZ(2deg);
    }
    100%{
      transform: rotateZ(0deg);
    }    
  }

/*TABLET*/

  @media only screen and (min-width: 769px) and (max-width: 1199px){

    /*HEADER*/

    #title_movil{
      display: none;
    }

    #menus{
      justify-content: flex-end;
    }
    
    #menus nav{
      display: none;
    }

    header{
      border: none;
      position: fixed;
      padding-left: 5%;
      padding-right: 5rem;
    }

    #logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      width: 80%;
    }

    #logo h1{
      display: inline-block;
      font-size: 1.5rem;
      width: 50%;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #menus{
      width: 20%;
    }

    #categorias{
      display: block;
      position: fixed;
      width: 100%;
      padding-top: 100px;
      background-color: var(--marron-claro);
      border-radius: 0 0 5px 5px;
      z-index: 0;
    }

    #categorias ul{
      list-style: none;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding: 5px 20px 20px 20px;
    }

    #categorias a{
      text-decoration: none;
      color: black;
    }

    #categorias li{
      border: none;
      padding: 2px;
      font-size: 1rem;
      font-weight: 400;
    }

    #categorias a:hover{
      color: var(--amarillo);
      transition: all 0.2s linear;
    }
    #categorias li:hover{
      box-shadow: 0px 0px 10px 5px var(--amarillo);
      border-radius: 10px;
    }

    /*CUERPO PRINCIPAL*/

    main{
      padding-top: 110px;
    }

    #articulo{
      padding: 1rem 0.5rem 0rem 0.5rem;
    }

    #articulo div:not(#articulo_id, #inventario){
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    #articulo_id{
      padding: 2rem;
    }

    #articulo_id h1, #precio, #precio_articulo label{
      font-size: 3rem;
    }

    #articulo nav{
      padding: 2rem 0;
    }

    #inventario {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    #articulo #inventario, #inventario input{
      font-size: 1.5rem;
      padding: 0.5rem;
    }

    #articulo nav #add_carrito{
      padding: 1.5rem;
      font-size: 1.2rem;
      margin-top: 0px;
    }

  }

  /*PC*/

  @media only screen and (min-width: 1200px){

    /*HEADER*/

    #title_movil{
      display: none;
    }

    #menus{
      justify-content: flex-end;
    }
    
    #menus nav{
      display: none;
    }

    header{
      border: none;
      position: fixed;
      padding-left: 5%;
      padding-right: 5rem;
    }

    #logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      width: 80%;
    }

    #logo h1{
      display: inline-block;
      font-size: 2rem;
      width: 50%;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #menus{
      width: 20%;
    }

    #categorias{
      display: block;
      position: fixed;
      width: 100%;
      padding-top: 100px;
      background-color: var(--marron-claro);
      border-radius: 0 0 5px 5px;
      z-index: 0;
    }

    #categorias ul{
      list-style: none;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding: 5px 20px 20px 20px;
    }

    #categorias a{
      text-decoration: none;
      color: black;
    }

    #categorias li{
      border: none;
      padding: 4px;
      font-size: 1.5rem;
      font-weight: 400;
    }

    #categorias a:hover{
      color: var(--amarillo);
      transition: all 0.2s linear;
    }

    #categorias li:hover{
      box-shadow: 0px 0px 10px 5px var(--amarillo);
      border-radius: 10px;
    }

    /*CUERPO PRINCIPAL*/

    main{
      padding-top: 160px;
    }

    #articulo{
      padding: 1rem 0.5rem 0rem 0.5rem;
    }

    #articulo div:not(#articulo_id, #inventario){
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    #articulo_id{
      padding: 2rem;
    }

    #articulo_id h1, #precio, #precio_articulo label{
      font-size: 3rem;
    }

    #articulo nav{
      padding: 2rem 0;
    }

    #inventario {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #articulo #inventario, #inventario input{
      font-size: 1.5rem;
      padding: 0.5rem;
    }

    #articulo nav #add_carrito{
      padding: 1.5rem;
      font-size: 1.2rem;
      margin-top: 0px;
    }

    #info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem;
    }

    section > h2 {
      font-size: 2rem;
    }

    #info div:first-child{
      width: 50%;
      font-size: 1.5rem;
    }

    #description{
      width: 40%;
      font-size: 1.5rem;
    }

  }