:root{
  --background: #DED2C1;
  --nav-bar: #91887A;
  --nav-footer: #C4B7A5;
  --icons: #45403A;
  --button: #473D2F;
}

i{
  color: var(--icons);
}

  /*CUERPO PRINCIPAL*/

  main {
    padding-top: 60px;
  }

  #info h2, #articulo img, #articulo input:nth-child(2n-1), footer{
    margin-top: 1.5rem;
  }

  /* ARTICULO */

  #stock,
  #precio {
    width: 2em;
    text-align: center;
    border: none;
  }

  #articulo_id img{
    width: 10rem;

  }

  #articulo input[type="text"] {
    background-color: transparent;
  }

  #articulo nav #add_carrito{
    padding: 1.5rem;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1rem;
    color: white;
    background-color: var(--icons);
  }

  #articulo nav #add_carrito:hover{
    background-color: var(--button);
    animation: dance-button 0.5s linear 1;
  }

  #articulo nav #add_carrito:active{
    border-color: #95DE28;
    color: #95DE28;
    box-shadow: 0px 0px 10px 5px #52D42680;
  }

  #articulo,
  section nav,
  #contact {
    text-align: center;
  }

  #precio_articulo {
    padding-top: 2rem;
  }

  #articulo_id, #precio, #precio_articulo label{
    font-size: 2rem;
    font-weight: 600;
  }

  #inventario {
    display: none;
  }

  /* INFORMACION DEL PRODUCTO */

  #info {
    text-align: center;
  }

  table {
    margin: 0 auto;
    border-collapse: collapse;
  }

  table td {
    border: 2px solid var(--icons);
  }

  table tr td:nth-child(2n-1) {
    width: 30%;
    padding: 1rem;
  }

  section > h2{
    text-align: center;
    padding: 1rem;
  }

  #description p{
    padding: 0.5rem;
  }

  /*PIE DE PAGUINA*/

  p {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  #contact {
    background-color: var(--nav-footer);
    border-radius: 10px 10px 0 0;
    width: 100%;
    padding: 2rem 1rem 0rem;
  }

  #contact h2{
    padding: 10px;
  }

  #contact nav{
    padding-bottom: 10px;
  }

  #contact nav i{
    margin: 1rem 2rem;
  }

  /*ANIMACION*/
  @keyframes dance-button {
    0%{
      transform: rotateZ(0deg);
    }
    25%{
      transform: rotateZ(2deg);
    }
    50%{
      transform: rotateZ(0deg);
    }
    75%{
      transform: rotateZ(2deg);
    }
    100%{
      transform: rotateZ(0deg);
    }    
  }

/*TABLET*/

  @media only screen and (min-width: 769px) and (max-width: 1199px){

    main{
      padding-top: 110px;
    }

    #articulo{
      padding: 1rem 0.5rem 0rem 0.5rem;
    }

    #articulo div:not(#articulo_id, #inventario){
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    #articulo_id{
      padding: 2rem;
    }

    #articulo_id h1, #precio, #precio_articulo label{
      font-size: 3rem;
    }

    #articulo nav{
      padding: 2rem 0;
    }

    #inventario {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    #articulo #inventario, #inventario input{
      font-size: 1.5rem;
      padding: 0.5rem;
    }

    #articulo nav #add_carrito{
      padding: 1.5rem;
      font-size: 1.2rem;
      margin-top: 0px;
    }

  }

  /*PC*/

  @media only screen and (min-width: 1200px){

    /*CUERPO PRINCIPAL*/

    main{
      padding-top: 160px;
    }

    #articulo{
      padding: 1rem 0.5rem 0rem 0.5rem;
    }

    #articulo div:not(#articulo_id, #inventario){
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    #articulo_id{
      padding: 2rem;
    }

    #articulo_id h1, #precio, #precio_articulo label{
      font-size: 3rem;
    }

    #articulo nav{
      padding: 2rem 0;
    }

    #inventario {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #articulo #inventario, #inventario input{
      font-size: 1.5rem;
      padding: 0.5rem;
    }

    #articulo nav #add_carrito{
      padding: 1.5rem;
      font-size: 1.2rem;
      margin-top: 0px;
    }

    #info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem;
    }

    section > h2 {
      font-size: 2rem;
    }

    #info div:first-child{
      width: 50%;
      font-size: 1.5rem;
    }

    #description{
      width: 40%;
      font-size: 1.5rem;
    }

  }