
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> ed041af63fef346cd422d4cd445620b88c417221

.h2_carrito{
    text-align: center;
}
<<<<<<< HEAD
=======
=======
=======

>>>>>>> 49e70c39b9b0814d5a36d04888e019f7439c4d5f
.h2_carrito_desktop{
    display: none;
}
.h2_carrito{
    text-align: center;
}
.titulo_info_carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo_info_carrito h5{
    display: none;
}
<<<<<<< HEAD
>>>>>>> ee2a7ee5cd4aa408250ee088fc5d4891200a03a8
>>>>>>> ed041af63fef346cd422d4cd445620b88c417221
=======

>>>>>>> 49e70c39b9b0814d5a36d04888e019f7439c4d5f
.separador_carrito{
    width: 90%;
    height: 1px;
    background-color: rgb(231, 231, 231);
}
.contenedor_carrito{

    border: 1px solid rgb(199, 199, 199);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 2rem 0;
    width: 90%;
    margin: 2rem auto;
    border-radius: 6px;
}
.contenedor_carrito img{
<<<<<<< HEAD
<<<<<<< HEAD
    width: 30%;
=======
<<<<<<< HEAD
    width: 30%;
=======
    width: 80%;
>>>>>>> ee2a7ee5cd4aa408250ee088fc5d4891200a03a8
>>>>>>> ed041af63fef346cd422d4cd445620b88c417221
=======
    width: 80%;
>>>>>>> 49e70c39b9b0814d5a36d04888e019f7439c4d5f
}
.total_cantidad_libro_carrito{
    color: red;
    font-weight: bold;
}
.btn_cantidad_carrito{
    border: 1px solid rgb(216, 216, 216);
    display: flex;
    border-radius: 5px;
}
.btn_cantidad_carrito button{
    border: none;
    width: 2rem;
    height: 2rem;
    background-color: rgb(231, 231, 231);
}
.btn_cantidad_carrito span{
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_cupon_carrito, .total_carrito{
    border: 1px solid rgb(199, 199, 199);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2rem 0;
    width: 90%;
    margin: 2rem auto;
    padding: 2rem 2rem;
    border-radius: 6px;
}
.contenedor_cupon_carrito input{
    height: 3rem;
    padding-left: 1rem;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 6px;

}
.contenedor_cupon_carrito button, .btn_finalizar_compra_carrito{
    width: 9rem;
    height: 3rem;
    border: none;
    background-color: rgb(235 45 45);
    font-weight: bold;
    color: white;
    border-radius: 6px;
    display: inline-block;
    margin-left: auto;
}
.info_total_carrito{
    display: flex;
    justify-content: space-between;
}
.info_total_carrito span{
    width: 4rem;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
<<<<<<< HEAD
}
=======
=======
>>>>>>> 49e70c39b9b0814d5a36d04888e019f7439c4d5f
}

@media (min-width: 1024px) {
    .contenedor_carrito{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .h2_carrito{
        display: none;
    }
    .h2_carrito_desktop{
        display: block;
        text-align: center;
        margin-top: 3rem;
    }
    .separador_carrito{
        display: none;
    }
    .contenedor_carrito img{
        width: 40%;
    }
    .titulos_carrito{
        display: block;
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }
    .contenedor_carrito{
        align-items: flex-start;
    }
    .titulo_info_carrito{
        gap: 2rem;
    }
    .titulo_info_carrito h5{
        display: block;
    }
    button{
        cursor: pointer;
    }
    .cupon_tota_carrito{
        display: flex;
        gap: 2rem;
        width: 90%;
        margin: 0 auto;
    }
    .contenedor_cupon_carrito, .total_carrito{
        gap: 1.5rem;
    }
}
<<<<<<< HEAD

>>>>>>> ee2a7ee5cd4aa408250ee088fc5d4891200a03a8
>>>>>>> ed041af63fef346cd422d4cd445620b88c417221
=======
>>>>>>> 49e70c39b9b0814d5a36d04888e019f7439c4d5f
