/* HEADER COMUN PARA TODAS LAS PAGINAS */

:root{
    --marron-claro: #D08C60;
    --amarillo: #FFCB69;
    --verde-claro: #9B9B7A;
    --hueso: #F1DCA7;
    --marron-oscuro: #997B66;
    --verde-oscuro: #797D62;
    --rosa: #DE695B;
  }
  
  * { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #dad299; /* fallback for old browsers */  
    background: linear-gradient(
      to right,
      #b0dab9,
      #dad299
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
    
  
  i{
    color: #FFF;
  }
  
  i:hover{
    color: var(--amarillo);
    cursor: pointer;
  }  

  /* HEADER */

.encabezado{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #797D62;
  color: #257429; 
  padding: 10px;
}

.Logo {
  width: 142px;
  margin: 0px 15px;
}

.img-der{
  width: 250px;
  margin: 0px 15px;
}

.encabezado-medio h1 {
  font-size: 2rem;
}

/* Menu Estilos */

.nav-menu {
  background-color: #DE695B;
  size: 12rem;  
  text-align: center;
}

.nav-menu ul{
  list-style: none;
  padding: 0px auto;
  margin: 0 auto;
}

.nav-menu ul li {
  display: inline-block;
  margin: 0 auto;
  padding-top: 5px;
}

.nav-menu li a{
  font-size: 1.2rem;
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  color: #257429;
  padding: 0 15px;  
  text-decoration: none;
}

.navbar {
  background-color: #9B9B7A;  
}

/* .nav-menu li a:hover{
  background-color: #997B66;
  animation: 0.5s infinite;
} */