/* HEADER COMUN PARA TODAS LAS PAGINAS */
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

:root{
    --marron-claro: #D08C60;
    --amarillo: #FFCB69;
    --verde-claro: #9B9B7A;
    --hueso: #F1DCA7;
    --marron-oscuro: #997B66;
    --verde-oscuro: #797D62;
    --rosa: #DE695B;
  }
  
  * { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
  }

  .contenedor-carrito{
    display: none;
  }
  
  /* body {
    background: #dad299;
    background: linear-gradient(
      to right,
      #b0dab9,
      #dad299
    );
  } */
  
  .logo-img-desktop{
    display: none;
  }

  .container-logo-nombre{
    display: flex;
    flex-direction: column;
  }
    
  
body {
  background: #dad299; /* fallback for old browsers */  
  background: linear-gradient(
    to right,
    #b0dab9,
    #dad299
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  
  

i{
  color: #FFF;
  size: 10px;    
  padding-right: 10px;
}

i:hover{
  color: var(--amarillo);
  cursor: pointer;
}  

/* HEADER */ 

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--marron-claro);
  /* grid-area: encabezado; */
}

.carrito-menu{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.carrito-menu i{
  padding: 0;
}

.header-texto {
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}

h1{
color: var(--rosa);
padding-left: 67px;
}

/* .Logo{
  width: 5rem;
  position: relative;
} */

.logo-img img{
  width: 3rem;
}

.busqueda{
  display: flex;
  gap: 1rem;
}

.btn-buscar{
  border: none;
  width: 3.5rem;
  border-radius: 10px;
  background-color: #b31c40a8;
  color: white;
}

.contenedor-categorias{
  padding: 1rem 2rem;
}

.titulo-index{
  text-align: center;
  margin: 1rem 0;
}

.encabezado-mid>form {
  display: flex;
  text-align: center;
  width: 100%;
  line-height: 20px;
  height: 63px;
  padding: 15px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


#form #input {
  border-radius: 9999px;
  border: 1px solid #eee;  
  flex: 1;
  margin: 3px;
  width: 265px;
  padding: 5px 15px;
}

#input:focus {
outline: 0;
}


.encabezado-mid>form>button[type="submit"] {
  background-color: #e6ad42;
  color: white;
  border: none;
  border-radius: 9px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 15px;
  margin: 3px;
  border: 1px;
}




.encabezado-mid>form>button[type="submit"]:hover {
  background-color: #a1b300;
  border-radius: 99px;
  margin: 3px;
  border: 1px;
}

/*NAVBAR*/

.navbar {
background-color: var(--marron-claro);  
text-align: center;
grid-area: menu-bar;  
}

.navbar ul{     
list-style: none;
height: 50px;  
padding: 0px;
color: #FFF;  

}

.navbar ul li {
  display: inline-block;
  line-height: 30px;
}

.navbar ul li a{
color: #f5f5f5f5;  
display: block;
text-decoration: none;
}


.container {
display: grid;
grid-template: auto auto / auto auto 0%;
grid-template-areas: "encabezado encabezado encabezado-der"
                      "menu-bar menu-bar menu-bar";
}

/*LISTA USUARIO*/
.encabezado{
display: grid;  
width: 100%;
background-color: var(--marron-claro);
}

.encabezado-mid {
display: flex;
justify-content: space-between;
align-items: center;
left: auto;
}


.encabezado-der {  
justify-content: center;
align-items: center;
width: 39%;
grid-area: encabezado-der;
}

.encabezado-der ul{ 
float: right;
margin-right: 20px;  

}

.encabezado-der ul li {
display: inline-block;
line-height: 60px;
margin: 0px 0px;
}

.encabezado-der li a{
color: #fff;
font-size: 18px;
padding: 0px 13px;
border-radius: 7px;  
}

.navbar li a{
color: #fff;
font-size: 18px;
padding: 0px 10px;
border-radius: 7px; 
}

li a.active, li a:hover {
background: var(--rosa);
transition: .5s;
}

.checkbtn{
font-size: 17px;
color: #fff;
float: right;
line-height: 80px;
cursor: pointer;
display: none;
}

#check{
display: none;
}



/* MEDIA QUERY */

/* @media (max-width: 1024px) {
.container {
  display: grid;
  grid-template: auto auto / 20% auto 20%;
  grid-template-areas: "encabezado encabezado"
                        "menu-bar menu-bar menu-bar";
}
} */

@media (max-width: 992px) { 
.navbar ul li a {
  font-size: 16px;
}  
}


@media (max-width: 992px) {
.checkbtn{
  display: block;
}
ul {
  position: fixed;
  width: 100%;
  height: auto;    
  background: #997B66;
  top: 180px;
  left: -100%;
  text-align: center;
  transition: all .5s;
} 
.navbar ul {
  list-style: none;
  height: 433px;
  padding: 0px;
  color: #FFF;
}
.navbar ul li{
  display: block;
  margin: 50px 0;
  line-height: 30px;
}

.navbar ul li a {
  font-size: 18px;
}
li a:hover, li a.active{
  background: none;
  color: red;
}
#check:checked ~ ul{
  left: 0;
}

  #input {
    border-radius: 9999px;
    border: 1px solid #eee;  
    flex: 1;
    margin: 0px;
    width: 165px;
    padding: 5px 15px;
  }

}

@media (min-width: 1024px) {
  .logo-img img{
    display: none;
  }
  .logo-img-desktop{
    display: block;
  }
  .logo-img-desktop img{
    width: 6rem;
    height: 100%;
  }
  .header-contenedor{
    display: flex;
    background-color: var(--marron-claro);
    align-items: center;
    padding: 1rem 2rem 1rem 3rem;
  }
  .container-busqueda-categorias{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    align-items: center;
  }
  .carrito-menu{
    display: none;
  }
  .buscar-carrito{
    display: flex;
    gap: 2rem;
  }
  .contenedor-carrito{
    display: flex;
    gap: 2rem;
  }
  .contenedor-carrito p{
    color: white;
  }
  .contenedor-header{
    width: 100%;
  }
  .busqueda input{
    width: 30rem;
    border: none;
    padding: .3rem 1rem;
    border-radius: 10px;
  }
}