/* HEADER COMUN PARA TODAS LAS PAGINAS */

:root{
    --marron-claro: #D08C60;
    --amarillo: #FFCB69;
    --verde-claro: #9B9B7A;
    --hueso: #F1DCA7;
    --marron-oscuro: #997B66;
    --verde-oscuro: #797D62;
    --rosa: #DE695B;
  }
  
  * { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
  body {
    background: #dad299; /* fallback for old browsers */  
    background: linear-gradient(
      to right,
      #b0dab9,
      #dad299
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
    
  
  i{
    color: #FFF;
    size: 10px;    
    padding-right: 10px;
  }
  
  i:hover{
    color: var(--amarillo);
    cursor: pointer;
  }  

  /* HEADER */ 

.encabezado{
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  background-color: var(--marron-claro);
}

.Logo {  
  height: 70px;
  margin: 0px 20px;
}

.enlace{
  position: absolute;
  padding: 5px 40px;
}

.encabezado-der{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.encabezado-der ul{ 
  float: right;
  margin-right: 20px;
}

.encabezado-der ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;  
}

.encabezado-der li a{
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;  
}


/* Navbar Estilos */

.nav-menu{
  background-color: var(--marron-claro);
}

.navbar{
  background-color: var(--marron-claro);
  height: 80px;
  width: 100%;
}

.navbar ul {
  float: right;
  margin-right: 20px;  
  padding: 0px auto;
  margin: 0 auto;
}


.navbar ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.navbar li a{
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px; 
}

li a.active, li a:hover {
  background: var(--rosa);
  transition: .5s;
}

.checkbtn{
  font-size: 20px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

main{
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px);
}




/* Estilo para el contenedor de búsqueda */
.search-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 300px; 
  margin: 20px; 
}

/* Estilo para el campo de entrada */
#search-input {
  flex: 1; 
  padding: 10px;
  border: 1px solid #e6d2d2;
  border-radius: 4px;
  font-size: 16px;
}

/* Estilo para el botón de búsqueda */
#search-button {
  background-color: #007bff;
  color: white; 
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px; 
}

/* Estilo para el botón de búsqueda al pasar el mouse */
#search-button:hover {
  background-color: #0056b3;
}

/* MEDIA QUERY */

@media (max-width: 952px) {
  .enlace{
    padding-left: 20px;
  }
  .navbar ul li a {
    font-size: 16px;
  }  
}


@media (max-width: 855px) {
  .checkbtn{
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #997B66;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  } 
  .navbar ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  .navbar ul li a {
    font-size: 20px;
  }
  li a:hover, li a.active{
    background: none;
    color: red;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
