/* HEADER COMUN PARA TODAS LAS PAGINAS */

:root {
  --marron-claro: #D08C60;
  --amarillo: #FFCB69;
  --verde-claro: #9B9B7A;
  --hueso: #F1DCA7;
  --marron-oscuro: #997B66;
  --verde-oscuro: #797D62;
  --rosa: #DE695B;
  --titulo: #1d0a3f;
}



header {
  color: var(--titulo);
}

i {
  color: #FFF;
}

i:hover {
  color: var(--amarillo);
  cursor: pointer;
}

/*CELULAR*/

#title_movil {
  display: block;
  margin: 0 auto;
  /* font-family: 'Permanent Marker', cursive; */
}

header:first-child {
  border: none;
  border-radius: 0;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--marron-claro);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  border-radius: 0 0 5px 5px;
  z-index: 1;
}

#logo img {
  width: 5rem;
  border-radius: 50%;
}

#logo h1 {
  display: none;
}

#menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  max-width: 300px;
}


#categorias {
  display: none;
  z-index: 0;
  width: 100%;
  background-color: var(--marron-claro);
}

#categorias ul {
  list-style: none;
  padding: 5px 20px 20px 20px;
}

#categorias li {
  padding: 2rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

#categorias a {
  text-decoration: none;
  color: #000;
}

#categorias li:hover {
  box-shadow: 0px 0px 10px 5px var(--amarillo);
  border-radius: 10px;
  transition: all 0.2s linear;
}

@media only screen and (min-width: 769px) and (max-width: 1199px) {

  /*TABLET*/

  #title_movil {
    display: none;
  }

  #menus {
    justify-content: flex-end;
  }

  #menus nav {
    display: none;
  }

  header {
    border: none;
    position: fixed;
    padding-left: 5%;
    padding-right: 5rem;
  }

  #logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
  }

  #logo h1 {
    display: inline-block;
    font-size: 2rem;
    width: 50%;
    /* font-family: 'Permanent Marker', cursive; */
  }

  #menus {
    width: 20%;
  }

  #categorias {
    display: block;
    position: fixed;
    width: 100%;
    padding-top: 100px;
    background-color: var(--marron-claro);
    border-radius: 0 0 5px 5px;
    z-index: 0;
  }

  #categorias ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 5px 20px 20px 20px;
  }

  #categorias a {
    text-decoration: none;
    color: black;
  }

  #categorias li {
    border: none;
    padding: 2px;
    font-size: 1.3rem;
    font-weight: 400;
  }

  #categorias li:hover {
    font-weight: 800;
    box-shadow: none;
    transition: all 0.2s linear;
  }
}

@media only screen and (min-width: 1200px) {

  /*PC*/

  #title_movil {
    display: none;
  }

  #menus {
    justify-content: flex-end;
  }

  #menus nav {
    display: none;
  }

  header {
    border: none;
    position: fixed;
    padding-left: 5%;
    padding-right: 5rem;
  }

  #logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
  }

  #logo h1 {
    display: inline-block;
    font-size: 2rem;
    width: 50%;
    /* font-family: 'Permanent Marker', cursive; */
  }

  #menus {
    width: 20%;
  }

  #categorias {
    display: block;
    position: fixed;
    width: 100%;
    padding-top: 100px;
    background-color: var(--marron-claro);
    border-radius: 0 0 5px 5px;
    z-index: 0;
  }

  #categorias ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 5px 20px 20px 20px;
  }

  #categorias a {
    text-decoration: none;
    color: black;
  }

  #categorias li {
    border: none;
    padding: 4px;
    font-size: 1.5rem;
    font-weight: 400;
  }

  #categorias li:hover {
    font-weight: 800;
    box-shadow: none;
    transition: all 0.2s linear;
  }
}