:root{
  --marron-claro: #D08C60;
  --amarillo: #FFCB69;
  --verde-claro: #9B9B7A;
  --hueso: #F1DCA7;
  --marron-oscuro: #997B66;
  --verde-oscuro: #797D62;
  --rosa: #DE695B;
  }
  
  * { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: var(--hueso);
    color: var(--verde-oscuro);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  header, footer{
    color: #000;
  }
  
  i{
    color: #fff;
  }

  i:hover{
    color: var(--amarillo);
  }
  
    /*CELULAR*/
    /*HEADER*/
  
    #title_movil{
      display: block;
      margin: 0 auto;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  
    header:first-child{
      border: none;
      border-radius: 0;
    }
  
    header{
      position: sticky;
      top: 0;
      background-color: var(--marron-claro);
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 5px 20px;
      border-radius: 0 0 5px 5px;
      z-index: 2;
    }
  
    #logo img{
      width: 5rem;
      border-radius: 50%;
    }
  
    #logo h1{
      display: none;
    }
  
    #menus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      max-width: 300px;
    }
  
    /*MENU OCULTO CON CATEGORIAS
  NOTA: Para desplejar cambiar display a block*/

  #categorias{
    display: none;
    z-index: 0;
    width: 100%;
    background-color: var(--marron-claro);
  }
  
    #categorias ul{
      list-style: none;
      padding: 5px 20px 20px 20px;
    }
  
    #categorias li{
      padding: 2rem;
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
    }
  
    #categorias a{
      text-decoration: none;
      color: #000;
    }
  
    #categorias li:hover {
      box-shadow: 0px 0px 10px 5px var(--amarillo);
      border-radius: 10px;
      transition: all 0.2s linear;
  }
  
    /*CUERPO PRINCIPAL*/
  
    main{
      padding-top: 60px;
    }

    main > div{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 20px;
    }

    main > div h2{
      text-align: center;
      padding-bottom: 10px;
      color: var(--rosa);
    }

    form, form > div{
      display: flex;
      flex-direction: column;
    }

    form label, form fieldset{
      margin: 5px 0 5px 0px;
      padding: 5px;
    }

    form input{
      padding: 5px 0px;
    }

    .sexo-radio{
      display:none;
    }

    .sexo-movil select{
      width: 100%;
      padding: 5px 0px;
    }

    .check-box{
      display: grid;
      grid-template-columns: auto 1fr auto 1fr;
    }

    textarea{
      width: 100%;
      resize: none;
    }

    input[type="submit"]{
      width: 80%;
      margin: 10px auto;
      border-radius: 5px;
    }

    input[type="text"]:focus, input[type="date"]:focus, input[type="email"]:focus, textarea:focus{
      border-color: #fff;
      background-color: #fff;
      box-shadow: 0px 0px 5px 2px var(--rosa);
    }

    input[type="submit"]:hover{
      background-color: var(--amarillo);
       animation: translate-button 0.2s linear 1;
       z-index: 0;
  }

  input[type="submit"]:active{
    border-color: #fff;
    color: var(--rosa);
    box-shadow: 0px 0px 10px 5px var(--rosa);
  }

    /*PIE DE PAGUINA*/
  
    p {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 1rem;
    }
  
    #contact {
      background-color: var(--marron-claro);
      border-radius: 10px 10px 0 0;
      width: 100%;
      padding: 2rem 1rem 0rem;
    }
  
    #contact h2{
      padding: 10px;
    }
  
    #contact nav{
      padding-bottom: 10px;
    }
  
    #contact nav i{
      margin: 1rem 2rem;
    }

    footer{
      text-align: center;
    }
  
    /*ANIMACION*/
    @keyframes translate-button {
      0%{
        transform: translateX(0px);
      }
      25%{
        transform: translateX(5px);
      }
      50%{
        transform: translateX(0px);
      }
      75%{
        transform: translateX(-5px);
      }
      100%{
        transform: translateX(0px);
      }    
    }
  
  /*TABLET*/
  
    @media only screen and (min-width: 769px) and (max-width: 1199px){
  
      /*HEADER*/
  
      #title_movil{
        display: none;
      }
  
      #menus{
        justify-content: flex-end;
      }
      
      #menus nav{
        display: none;
      }
  
      header{
        border: none;
        position: fixed;
        padding-left: 5%;
        padding-right: 5rem;
      }
  
      #logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        width: 80%;
      }
  
      #logo h1{
        display: inline-block;
        font-size: 1.5rem;
        width: 50%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
  
      #menus{
        width: 20%;
      }
  
      #categorias{
        display: block;
        position: fixed;
        width: 100%;
        padding-top: 100px;
        background-color: var(--marron-claro);
        border-radius: 0 0 5px 5px;
        z-index: 0;
      }
  
      #categorias ul{
        list-style: none;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 5px 20px 20px 20px;
      }
  
      #categorias a{
        text-decoration: none;
        color: black;
      }
  
      #categorias li{
        border: none;
        padding: 0;
        font-size: 1rem;
        font-weight: 400;
      }
  
      #categorias li:hover {
        font-weight: 800;
        box-shadow: none;
        transition: all 0.2s linear;
    }

      /*CUERPO PRINCIPAL*/

      main{
        padding: 200px 0px 20px 0px;
      }
      .sexo-tabla{
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .sexo-movil{
        display:none;
      }
      .sexo-radio{
        display: block;
      }
  
      form{
        width: 80%;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        grid-template-areas: "nombre apellido"
                              "fecha mail"
                              "sexo sexo"
                              "categoria categoria"
                              "comentario comentario"
                              "submit submit";
      }

      .nombre-tabla{
        grid-area: nombre;
      }
      .apellido-tabla{
        grid-area: apellido;
      }
      .fecha-tabla{
        grid-area: fecha;
      }
      .sexo-tabla{
        grid-area: sexo;
        width: 50%;
        margin: 0 auto;
      }
      .mail-tabla{
        grid-area: mail;
      }
      .categoria-tabla{
        grid-area: categoria;
        width: 60%;
        margin: 0 auto;
      }
      .comentario-tabla{
        grid-area: comentario;
        width: 60%;
        margin: 0 auto;
      }
      .submit-tabla{
        grid-area: submit;
      }
      input[type="submit"]{
        width: 25%;
      }
    }
  
    /*PC*/
  
    @media only screen and (min-width: 1200px){
  
      /*HEADER*/
  
      #title_movil{
        display: none;
      }
  
      #menus{
        justify-content: flex-end;
      }
      
      #menus nav{
        display: none;
      }
  
      header{
        border: none;
        position: fixed;
        padding-left: 5%;
        padding-right: 5rem;
      }
  
      #logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        width: 80%;
      }
  
      #logo h1{
        display: inline-block;
        font-size: 2rem;
        width: 50%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
  
      #menus{
        width: 20%;
      }
  
      #categorias{
        display: block;
        position: fixed;
        width: 100%;
        padding-top: 100px;
        background-color: var(--marron-claro);
        border-radius: 0 0 5px 5px;
        z-index: 0;
      }
  
      #categorias ul{
        list-style: none;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 5px 20px 20px 20px;
      }
  
      #categorias a{
        text-decoration: none;
        color: black;
      }
  
      #categorias li{
        border: none;
        padding: 4px;
        font-size: 1.5rem;
        font-weight: 400;
      }
  
      #categorias li:hover {
        font-weight: 800;
        box-shadow: none;
        transition: all 0.2s linear;
    }

       /*CUERPO PRINCIPAL*/

       main{
        padding: 200px 0px 20px 0px;
      }
      .sexo-tabla{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
      .sexo-movil{
        display:none;
      }
      .sexo-radio{
        display:block;
      }
  
      form{
        width: 80%;
        padding: 20px;
        display: grid;
        grid-template-columns: 30% 20% 20% 30%;
        gap: 10px;
        justify-items: center;
        grid-template-areas: "nombre nombre apellido apellido"
                              "fecha fecha mail mail"
                              ". sexo sexo ."
                              "categoria categoria comentario comentario"
                              ". submit submit .";
      }

      .nombre-tabla{
        grid-area: nombre;
        width: 90%;

      }
      .apellido-tabla{
        grid-area: apellido;
        width: 90%;
      }
      .fecha-tabla{
        grid-area: fecha;
        width: 90%;
      }
      .sexo-tabla{
        grid-area: sexo;
        padding: 1rem;
      }
      .mail-tabla{
        grid-area: mail;        
        width: 90%;
      }
      .categoria-tabla{
        grid-area: categoria;
        width: 100%;
      }

      .comentario-tabla{
        grid-area: comentario;
        width: 100%;
      }
      .submit-tabla{
        grid-area: submit;
        padding: 0.5rem;
      }
    }