.navbar__header {
    background-color: var(--persian-orange);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    /* font-family: 'Lato'; */
    padding: 2rem;
}

.menu-desktop__header{
    display: none;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.nav-list{
    display: flex;
    gap: 1.5rem;
}

.nav-list i{
    font-size: 1.2rem;
}

#menu__header {
    position: absolute;
    top: 5rem;
    height: 100vh;
    width: 62vw;
    display: flex;
    transform: translateX(-150%);
    transition: transform 0.3s ease-in-out;
    background-color: var(--peach-yellow);
}

#menu__header.active {
    transform: translateX(-18%);
}

#ul__header{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
}

#ul__header li{
    text-align:start;
    text-transform: uppercase;
}

.ancla__header{
    font-weight: bold;
    color: var(--beaver);
}


.menu-toggle {
    display: flex;
}

@media (min-width: 425px) {
    #ul__header{
        padding: 1.5rem 1.5rem 1.5rem 3rem;
    }
}

@media (min-width: 768px) {
    #ul__header{
        padding: 1.5rem 1.5rem 1.5rem 6rem;
    }
}

@media (min-width: 1024px) {
    #menu-toggle{
        display: none;
    }
    .menu-desktop__header{
        display: block;
    }
    #ul__header-desktop{
        font-weight: bold;
        display: flex;
        gap: 3rem;
    }
    #ul__header-desktop li a:hover{
        color: black;
        transition: all 0.1s ease-in;
    }
    .nav-list i{
        cursor: pointer;
    }
    .logo__header{
        cursor: pointer;
    }
    .ancla__header__desktop{
        color: white;
    }
}
