:root {
    --marron-claro: #D08C60;
    --amarillo: #FFCB69;
    --verde-claro: #9B9B7A;
    --hueso: #F1DCA7;
    --marron-oscuro: #997B66;
    --verde-oscuro: #797D62;
    --rosa: #DE695B;
    --card-cuerpo: #dfc388;
    --card-precio: rgb(16, 155, 16);
}

/*CELULAR*/

  body {
    background-color: var(--hueso);
    color: var(--verde-oscuro);
    /* font-family: 'Tilt Neon', sans-serif; */
 }

/*CUERPO PRINCIPAL*/

#listaCategorias ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
    position: static;
    background-color: transparent;
}

#listaCategorias ul li:hover{
    font-weight: 800;
    font-size: 1.5rem;
}

.main-productos{
    min-height: 25rem;
    padding-top: 1rem;
}

img {
    width: 10rem;
    max-width: 100%;
    margin-top: 10px;
}

section:last-child{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prod_title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.all_articles article {
    text-align: center;
    padding: 1rem 1rem 0 1rem;
    margin: 1rem auto;
    width: 20rem;
    height: 50%;
    background-color: var(--card-cuerpo);
    border: 2px solid var(--hueso);
}

.all_articles article:hover {
    border: 2px solid var(--rosa);
}

main a {
    text-decoration: none;
    color: #000;
}

.prod_price::before {
    content: "$";
}

.prod_price {
    color: var(--card-precio);
    font-weight: 800;
    font-size: 1.2rem;
    padding: 10px 0;
}

.more input {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
    margin: 1rem 0 2rem 0;
    /* font-family: 'Tilt Neon', sans-serif; */
}

.more input:hover {
    background-color: var(--amarillo);
    animation: translate-button 0.2s linear 1;
}

.more input:active {
    border-color: #fff;
    color: var(--rosa);
    box-shadow: 0px 0px 10px 5px var(--rosa);
}

/*TABLET*/

@media only screen and (min-width: 769px) and (max-width: 1199px) {
    /*CUERPO PRINCIPAL*/

    section{
        display: block;
    }

    section .prod_title{
        text-align: center;
        font-size: 1rem;
    }

    #articles{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        gap: 1rem;
    }


    .all_articles article {
        height: 25rem;
    }

    #listaCategorias ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1rem;
        padding: 1rem 1.5rem;
    }

    
}

/*PC*/

@media only screen and (min-width: 1200px) {
    /*CUERPO PRINCIPAL*/

    section{
        display: block;
    }

    section .prod_title{
        text-align: center;
        font-size: 2rem;
    }

    #articles{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        gap: 1rem;
    }

    .all_articles article {
        height: 25rem;
    }
    
    #listaCategorias ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1rem;
        padding: 1rem 5rem;
    }
   
}