@media only screen and (max-width: 600px){
    .contenedor-grid{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .contenedor-grid .item h1{
        padding: 0;
    }
    
    .item{
        color: antiquewhite;
        padding: 2rem;
        text-align: center;
    }

    .item p:first-child{
        margin-top: 1rem;
        margin-bottom: -1rem;
    }

    .mapouter iframe{
        width: 20rem;
        height: 20rem;
        padding-top: 2rem;
    }

    .sucursales p{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 800;
    }

    #domicilios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    address{
        padding:1rem;
        text-align: center;
    }

    address span:last-child{
        color: rgb(192, 30, 30);
    }


}

@media only screen and (min-width: 601px){

    .contenedor-grid{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .contenedor-grid .item h1{
        padding: 0;
    }
    
    .item{
        color: antiquewhite;
        border: none;
        padding: 2rem;
        text-align: center;
    }

    .item p:first-child{
        margin-top: 1rem;
        margin-bottom: -1rem;
    }

    .mapouter iframe{
        width: 30rem;
        height: 30rem;
        padding-top: 2rem;
    }

    .sucursales p{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 800;
    }

    #domicilios{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    address{
        padding:1rem;
        text-align: center;
    }

    address span:last-child{
        color: rgb(192, 30, 30);
    }

    
}