body{
    font-family: Arial, Helvetica, sans-serif;
}


#MainHeader img {
    width: 100px;
    display: inline
}

#MainHeader{
    padding-top: 5px;
}

.logo{
    float: left;
}
.titulo{
    display: inline;
    box-sizing: border-box;
    text-align: center;
}

.titulo h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
    text-align: center;
}

.titulo p{
    font-size: 150%;

}

.carrito{
    float: right;
}

a{text-decoration: none;color: black;}
a:active{color: black;}
a:hover{color: aqua;}

.grid-container-categorias{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 50vh;
    background-color: #2196F3;
    padding: 10px;
}
.grid-item-categorias{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-image:url(img/ofertas.png);
}
/*   <!--Fin sección Categorias-->*/

.grid-container-ofertas{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 50vh;
    background-color: #2196F3;
    padding: 10px;
}
.grid-item-ofertas{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-image:url(img/ofertas.png);
}
/*   <!--Fin sección Ofertas-->*/

.grid-container-lanzamientos{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 50vh;
    background-color: #2196F3;
    padding: 10px;
}
.grid-item-lanzamientos{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-image:url(img/ofertas.png);
}
/*   <!--Fin sección Lanzamientos-->*/

.clear{clear: both;}

/*AGREGO ESTILOS DE PRUEBA - BORRAR LIBREMENTE*/
img{
    width: 2rem;
  }
  
  a{
    text-decoration: none;
  }
  
  /* #contenedorOfertas{
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */
  
  .block2-ofertas{
    text-align: center;
    padding: 5px;
    max-height: 10rem;
    overflow: hidden;
  }